/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap'); */


.brandcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #353535; */
    background: hsl(194, 60%, 34%);
    /* font-size: 1rem; */
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .brandcardimage
 {
    width: 100px;
    height: 120px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0  5px white;
    border-radius: 5px;
    margin: 0.5em;
 }
 
 .brandcardimage img
 {
    /* height: 100px; */
    width: 80px;
    /* height: inherit; */
     /* border: 2px solid black; */
 }
  
.brandcard:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

 .brands-grid {
    margin-right: 30px;
    margin-left: 30px;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
 }